#lyrics {
  width: 100%;
  margin: 5%;
  border: 3px solid black;
  padding: 20px;
  font-size: 1em;
  background: url('/assets/sativa.png');
  font-family: 'Oswald', sans-serif;
}


#header {
  text-align: center;
 font-family: 'Pacifico', cursive;
  font-size: 4em;
  font-style: italic;
  margin-top: 3px;
  margin-bottom: 20px;
}

input {
  width: 50%;
  border-radius: 10px;
  margin-left: 25%;
  text-align: center;
  line-height: 10;
  height: 2em;
  margin: 3px;
  font-size: 3em;
}

#buttons {
  margin-top: 10px;
}

button {
  height: 50px;
  border: 3px solid black;
}

select {
   width: 268px;
   padding: 5px;
   font-size: 30px;
   line-height: 1;
   border: 1px solid black;
   border-radius: 0;
   height: 50px;
   }

  .rapper-headshot {
    width: 300px;
  }

  #controls {
    text-align: center;
    height: 30%;
  }

  .rapper-headshot {
  width: 200px;
  height: 100px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  margin: 0px auto;
  border: 3px solid black;
  }

.wrapper {
  width: 100%;
}
