#lyrics {
  width: 95%;
  margin: 5%;
  border: 3px solid black;
  padding: 20px;
  background-color: pink;
}

body {
  background: url('/assets/sativa.png');
}

#header {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 4em;
  font-style: italic;
}

select {
   background-color: pink;
   width: 268px;
   padding: 5px;
   font-size: 30px;
   line-height: 1;
   border: 1px solid black;
   border-radius: 0;
   height: 50px;
   }

   textbox {
    border: 1px solid black;
   }